* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  top: 0; /* Posiciona o header no topo da página */
  left: 0; /* Alinha à esquerda */
  z-index: 1000; /* Garante que o header fique acima de outros elementos */
}
